/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Paytone One', sans-serif;
    background: url('../images/loginbkg.svg') no-repeat center center;
    background-size: cover;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.login-box {
    background-color: rgba(255, 255, 255, 0.85); 
    padding: 40px 50px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.5); 
    width: 350px;
    text-align: center;
    backdrop-filter: blur(8px); 
}


.login-box h2 {
    margin-bottom: 30px;
    color: #15083e; 
    font-size: 28px;
}


.error-message {
    color: red;
    margin-bottom: 15px;
    font-size: 14px;
}


.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}


.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #b341ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.login-btn:hover {
    background-color: #6c289a;
    transform: translateY(-2px);
}
